<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



    <nav th:fragment="navbar">

        <div class="inner-navbar">
            <a href="/" class="navbar-homepage" alt="index" style="width:90px;height:80px;border:0; margin-left: 20px"></a>
            <div class="navbar-item">
                <a href="/catalogue">Catalogue</a>
            </div>
            <div class="navbar-item">
                <a href="/members">Members</a>
            </div>
            <div class="navbar-item">
                <a href="/checkout">Checkout</a>
            </div>
            <div class="navbar-item">
                <a href="/checkoutPage">Checkout Page</a>
            </div>
        </div>
        <a href="/about" class="navbar-logo" alt="about" style="width:90px;height:80px;border:0; margin-right: 20px"></a>
    </nav>



</html>
