<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.CatalogueModel"-->

<head>
    <meta charset="UTF-8">
    <title>Bookish - Catalogue</title>
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/about.css"/>
    <link rel="stylesheet" href="/styles/table.css"/>
    <link rel="stylesheet" href="/styles/index.css"/>
    <link rel="stylesheet" href="/styles/catalogue.css"/>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script>
        function hideEditForm() {
            $('#edit-book').hide();
            $('#add-book').show();
        }

        function showEditForm(isbn, bookTitle, authorFirstName, authorSecondName, category) {
            $('#edit-book #isbnInput').val(isbn);
            $('#edit-book #bookTitleInput').val(bookTitle);
            $('#edit-book #authorFirstNameInput').val(authorFirstName);
            $('#edit-book #authorSecondNameInput').val(authorSecondName);
            $('#edit-book #category').val(category);
            $('#edit-book').show();
            $('#edit-book').get(0).scrollIntoView();
            $('#add-book').hide();
        }

        function searchBooks() {
            var input, filter, table, tr, tds, i, txtValue;
            input = document.getElementById("search-books");
            filter = input.value.toUpperCase();
            table = document.getElementById("bookTable");
            tr = table.getElementsByTagName("tr");

            for (i = 0; i < tr.length; i++) {
                tds = tr[i].getElementsByTagName("td".slice(0, 5));
                if (tds.length > 0) {
                    txtValue = (tds[0].textContent || tds[0].innerText) + ' ' + (tds[1].textContent || tds[1].innerText) + ' ' + (tds[2].textContent || tds[2].innerText) + ' ' + (tds[3].textContent || tds[3].innerText) + ' ' + (tds[4].textContent || tds[4].innerText);
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        $(document).ready(function() { hideEditForm(); });
    </script>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"></div>
<div class="container">
    <div class="jumbotron">
        <h1>Book Catalogue</h1>
        <p th:if="${model.message != null}" th:text="${model.message}"></p>
        <input type="text" id="search-books" onkeyup="searchBooks()"
               placeholder="  Search for a Book by ISBN, Name, Author or Category: ">
        <table id="bookTable">
            <tr>
                <th scope="col">ISBN</th>
                <th scope="col">Book Title</th>
                <th scope="col">Author First Name</th>
                <th scope="col">Author Second Name</th>
                <th scope="col">Category</th>
                <th scope="col">Total Copies</th>
                <th scope="col">Copies Available</th>
                <th scope="col">Actions</th>
            </tr>
            <tr th:each="book : ${model.books}">
                <td><span th:text="${book.isbn}"></span></td>
                <td><span th:text="${book.bookTitle}"></span></td>
                <td><span th:text="${book.authorFirstName}"></span></td>
                <td><span th:text="${book.authorSecondName}"></span></td>
                <td><span th:text="${book.category}"></span></td>
                <td><span th:text="${book.totalCopies}"></span></td>
                <td><span th:text="${book.totalCopiesAvailable}"></span></td>
                <td class="center-button">
                    <a th:href="${'/catalogue/delete-book?isbn=' + book.isbn}" class="button"><button>Delete</button></a>
                    <button th:onclick="'javascript:showEditForm(\'' + ${book.isbn} + '\',\'' + ${book.bookTitle} + '\',\'' + ${book.authorFirstName} + '\',\'' + ${book.authorSecondName} + '\',\'' + ${book.category} +'\');'"
                            class="button">Edit</button>
                    <a th:href="${'/catalogue/checkoutPage?isbn=' + book.isbn}" class="button"><button>Checkout</button></a>
                </td>
            </tr>
        </table>
        <div id="add-book">
            <h3> Add a new book:</h3>
            <form th:action="@{/catalogue/add-book}" method="post">
                <div class="add-book-row">
                    <label>
                        <span>ISBN: </span>
                        <input type="text" name="isbn">
                    </label>
                </div>
                <div class="add-book-row">
                    <label>
                        <span>Book Title: </span>
                        <input type="text" name="bookTitle">
                    </label>
                </div>
                <div class="add-book-row">
                    <label>
                        <span>Author First Name: </span>
                        <input type="text" name="authorFirstName">
                    </label>
                </div>
                <div class="add-book-row">
                    <label>
                        <span>Author Second Name: </span>
                        <input type="text" name="authorSecondName">
                    </label>
                </div>
                <div class="add-book-row">
                    <label>
                        <span>Category: </span>
                        <input type="text" name="category">
                    </label>
                </div>
                <div class="add-book-row">
                    <span><!-- spacer --></span>
                    <input type="submit" value="Add book"/>
                </div>
            </form>
        </div>
        <div id="edit-book">
            <h3>Edit book:</h3>
            <form th:action="@{/catalogue/edit-book}" method="post">
                <div class="edit-book-row">
                    <label>
                        <span>ISBN: </span>
                        <input id="isbnInput" type="text" name="isbn">
                    </label>
                </div>
                <div class="edit-book-row">
                    <label>
                        <span>Book Title: </span>
                        <input id="bookTitleInput" type="text" name="bookTitle">
                    </label>
                </div>
                <div class="edit-book-row">
                    <label>
                        <span>Author First Name: </span>
                        <input id="authorFirstNameInput" type="text" name="authorFirstName">
                    </label>
                </div>
                <div class="edit-book-row">
                    <label>
                        <span>Author Second Name: </span>
                        <input id="authorSecondNameInput" type="text" name="authorSecondName">
                    </label>
                </div>
                <div class="edit-book-row">
                    <label>
                        <span>Category: </span>
                        <input id="category" type="text" name="category">
                    </label>
                </div>
                <div class="edit-book-row">
                    <span><!-- spacer --></span>
                    <input type="submit" value="Edit book"/> <input type="button" th:onclick="'javascript:hideEditForm()'" value ="Cancel"/>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>