<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--@thymesVar id="model" type="org.softwire.training.bookish.models.page.MembersModel"-->

<head>
    <meta charset="UTF-8">
    <title>Bookish - Catalogue</title>
    <link rel="stylesheet" href="/styles/general.css"/>
    <link rel="stylesheet" href="/styles/navbar.css"/>
    <link rel="stylesheet" href="/styles/table.css"/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar">
</div>
<div>
    <p th:if="${model.message != null}" th:text="${model.message}"></p>
    <table>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Second Name</th>
            <th scope="col">ID</th>
            <th scope="col">Actions</th>
        </tr>
        <tr th:each="member : ${model.members}">
            <td><span th:text="${member.firstName}"></span></td>
            <td><span th:text="${member.secondName}"></span></td>
            <td><b><span th:text="${member.id}"></span></b></td>
            <td><a th:href="${'/members/delete-member?memberID=' + member.id}" class="delete-button">delete</a></td>
        </tr>
    </table>
</div>
<div>
    <h3> Add a new member:</h3>
    <form th:action="@{/members/add-member}" method="post">
        <div class="add-member-row">
            <label>
                <span>First Name: </span>
                <input type="text" name="firstName">
            </label>
        </div>
        <div class="add-member-row">
            <label>
                <span>Second Name: </span>
                <input type="text" name="secondName">
            </label>
        </div>
        <div class="add-member-row">
            <span><!-- spacer --></span>
            <input type="submit" value="Add member" />
        </div>
    </form>

</div>
</body>
</html>