* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Segoe UI", sans-serif;
    background-image: url("../images/book_stack.png");
    background-repeat: repeat-y;
    background-size: 100%;
    background-attachment: scroll;
    background-color: white;
}

.container {
    width: 100%;
    max-width: 800px;
    flex-grow: 1;
}

.delete-button {
    display: inline-block;
    background: url("https://cdn3.iconfinder.com/data/icons/cleaning-icons/512/Trash_Can-512.png");
    height: 24px;
    width: 24px;
    background-size: contain;
    border: none;
}
.edit-button {
    display: inline-block;
    background: url("https://www.freeiconspng.com/uploads/edit-new-icon-22.png");
    height: 24px;
    width: 24px;
    background-size: contain;
    border: none;");
    height: 24px;
    width: 24px;
    background-size: contain;
    border: none;
}
.center-button {
    text-align: center;
    min-width: 133px;
}


